<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <appSettings>
    <add key="username" value="client" />
    <add key="password" value="client" />
    <add key="host_address" value="192.168.1.119" />
    <add key="port" value="27215" />
  </appSettings>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    
    <!--Views-->
    <alias alias="IMainWindowView" type="uTorrent.WebUI.Shell.Views.Interfaces.IMainWindowView, uTorrent.WebUI.Shell"/>
    <alias alias="MainWindowView"  type="uTorrent.WebUI.Shell.MainWindowView, uTorrent.WebUI.Shell"/>
    <alias alias="ISettingsView"   type="uTorrent.WebUI.Shell.Views.Interfaces.ISettingsView, uTorrent.WebUI.Shell"/>
    <alias alias="SettingsView"    type="uTorrent.WebUI.Shell.Views.SettingsView, uTorrent.WebUI.Shell"/>

    <!--ViewModels-->
    <alias alias="IMainWindowViewModel"  type="uTorrent.WebUI.Shell.ViewModels.Interfaces.IMainWindowViewModel, uTorrent.WebUI.Shell"/>
    <alias alias="MainWindowViewModel"   type="uTorrent.WebUI.Shell.ViewModels.MainWindowViewModel, uTorrent.WebUI.Shell"/>
    <alias alias="ITorrentListViewModel" type="uTorrent.WebUI.Shell.ViewModels.Interfaces.ITorrentListViewModel, uTorrent.WebUI.Shell"/>
    <alias alias="TorrentListViewModel"  type="uTorrent.WebUI.Shell.ViewModels.TorrentListViewModel, uTorrent.WebUI.Shell"/>
    <alias alias="ISettingsViewModel"    type="uTorrent.WebUI.Shell.ViewModels.Interfaces.ISettingsViewModel, uTorrent.WebUI.Shell"/>
    <alias alias="SettingsViewModel"     type="uTorrent.WebUI.Shell.ViewModels.SettingsViewModel, uTorrent.WebUI.Shell"/>
    
    <!--Models-->
    <alias alias="ISettingsModel"     type="uTorrent.WebUI.Shell.Models.Interfaces.ISettingsModel, uTorrent.WebUI.Shell"/>
    <alias alias="SettingsModel"     type="uTorrent.WebUI.Shell.Models.SettingsModel, uTorrent.WebUI.Shell"/>
    
    <!--Data Objects-->
    <alias alias="ITorrentRepository" type="uTorrent.WebUI.Shell.Data.ITorrentRepository, uTorrent.WebUI.Shell"/>
    <alias alias="TorrentRepositoryDummyData" type="uTorrent.WebUI.Shell.Data.TorrentRepositoryDummyData, uTorrent.WebUI.Shell"/>
    <alias alias="TorrentRepositoryXml" type="uTorrent.WebUI.Shell.Data.TorrentRepositoryXml, uTorrent.WebUI.Shell"/>
    
    <!--EventLog-->
    <alias alias="IEventLog" type="uTorrent.WebUI.Shell.Infrastructure.IEventLog, uTorrent.WebUI.Shell"/>
    <alias alias="EventLog" type="uTorrent.WebUI.Shell.Infrastructure.EventLogFileBased, uTorrent.WebUI.Shell"/>

    <!--Library Objects-->
    <alias alias="IWebUIManager" type="uTorrent.WebUI.Library.Objects.Interfaces.IWebUIManager, uTorrent.WebUI.Library"/>
    <alias alias="WebUIManager" type="uTorrent.WebUI.Library.Objects.WebUIManager, uTorrent.WebUI.Library"/>

    <alias alias="IWebUIConnectionInfo" type="uTorrent.WebUI.Library.Objects.Interfaces.IWebUIConnectionInfo, uTorrent.WebUI.Library"/>
    <alias alias="WebUIConnectionInfo" type="uTorrent.WebUI.Library.Objects.WebUIConnectionInfo, uTorrent.WebUI.Library"/>

    <alias alias="IWebUIClient" type="uTorrent.WebUI.Library.Objects.Interfaces.IWebUIClient, uTorrent.WebUI.Library"/>
    <alias alias="WebUIClient" type="uTorrent.WebUI.Library.Objects.WebUIClient, uTorrent.WebUI.Library"/>
    <!--<alias alias="WebUIClient" type="uTorrent.WebUI.Library.Objects.WebUIClientDummyData, uTorrent.WebUI.Library"/>-->


    <container>
      <!--Views-->
      <register type="IMainWindowView" mapTo="MainWindowView"/>
      <register type="ISettingsView" mapTo="SettingsView" />

      <!--ViewModels-->
      <register type="IMainWindowViewModel" mapTo="MainWindowViewModel"/>
      <register type="ITorrentListViewModel" mapTo="TorrentListViewModel"/>
      <register type="ISettingsViewModel" mapTo="SettingsViewModel" />

      <!--ViewModels-->
      <register type="ISettingsModel" mapTo="SettingsModel"/>
      
      <!--EventLog-->
      <register type="IEventLog" mapTo="EventLog" />
      
      <!--Data Objects-->
      <register type="ITorrentRepository" mapTo="TorrentRepositoryXml" />
      
      <!--Library Objects-->
      <register type="IWebUIManager" mapTo="WebUIManager"/>
      <register type="IWebUIConnectionInfo" mapTo="WebUIConnectionInfo"/>
      <register type="IWebUIClient" mapTo="WebUIClient"/>
    </container>
  </unity>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
