<!--<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="IWebUIManager" type="uTorrent.WebUI.Library.Objects.Interfaces.IWebUIManager, uTorrent.WebUI.Library.Objects.Interfaces"/>
    <alias alias="WebUIManager" type="uTorrent.WebUI.Library.Objects.WebUIManager, uTorrent.WebUI.Library.Objects"/>

    <alias alias="IWebUIConnectionInfo" type="uTorrent.WebUI.Library.Objects.Interfaces.IWebUIConnectionInfo, uTorrent.WebUI.Library"/>
    <alias alias="WebUIConnectionInfo" type="uTorrent.WebUI.Library.Objects.WebUIConnectionInfo, uTorrent.WebUI.Library"/>

    <alias alias="IWebUIClient" type="uTorrent.WebUI.Library.Objects.Interfaces.IWebUIClient, uTorrent.WebUI.Library"/>
    --><!--<alias alias="WebUIClient" type="uTorrent.WebUI.Library.Objects.WebUIClient, uTorrent.WebUI.Library"/>--><!--
    <alias alias="WebUIClient" type="uTorrent.WebUI.Library.Objects.WebUIClientDummyData, uTorrent.WebUI.Library"/>

    <container>
      <register type="IWebUIManager" mapTo="WebUIManager"/>
      <register type="IWebUIConnectionInfo" mapTo="WebUIConnectionInfo"/>
      <register type="IWebUIClient" mapTo="WebUIClient"/>
    </container>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>-->
